[user]
	name = ultrayoshi
	email = david@imesmes.com
[color]
	status = auto
	branch = auto
	diff = auto
[core]
	editor = vim
[alias]
	gl = log --graph --decorate --oneline --graph --all
	sb = status -sb --ignore-submodules
